<h1>testing</h1>

<!-- 


<head>
  <style type="text/css">
    .carouselDiv img{
      height: 200px;
      width: auto;
    }
  </style>
</head>



  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in gallery track by $index" index="$index">



      <div class="row">
          <div class="col-xs-2" ng-repeat="picture_obj in slide track by picture_obj.id">
          <a href="" ng-click="openCarouselImg(picture_obj.id)">
            <img class="img-responsive" ng-src="[[picture_obj.image]]">
          </a>
            
          </div>      
      </div>
      </div>
    </div>
  </div>


  <div style="height: 305px" ng-if="false">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by $index" index="$index">

      <div class="row">
        <div class="col-xs-2">
          <img class="img-responsive" ng-src="[[slide.image]]">
        </div>
        <div class="col-xs-2">
          <img class="img-responsive" ng-src="[[slides[($index+1) % 6].image]]">
        </div>
        <div class="col-xs-2">
          <img class="img-responsive" ng-src="[[slides[($index+2) % 6].image]]">
        </div>
        <div class="col-xs-2">
          <img class="img-responsive" ng-src="[[slides[($index+3) % 6].image]]">
        </div>
        <div class="col-xs-2">
          <img class="img-responsive" ng-src="[[slides[($index+4) % 6].image]]">
        </div>
        <div class="col-xs-2">
          <img class="img-responsive" ng-src="[[slides[($index+5) % 6].image]]">
        </div>
      </div>

      </div>
    </div>
  </div>




<!--  <carousel interval="myInterval">
  <slide ng-repeat="slide in slides" active="slide.active">
    <div class="" style="width:600px;margin:auto;">
    <div >
    <img ng-src="[[slide.image]]" width="200px" style="float:left;">
    </div>
    <div >
    <img ng-src="[[slides[getSecondIndex($index+1)].image]]" width="200px" style="float:left;" >
    </div>
     <div >
    <img ng-src="[[slides[getSecondIndex($index+2)].image]]" width="200px" style="float:left;" >
    </div>
    </div>
  </slide>
</carousel> --> -->