<div class="container" style="padding-bottom:50px;">
<h1>Hecms Terms and Conditions</h1>
<p>
	Work with Confidence Guarantee: Terms and Conditions
HECMS is committed to providing its members with a secure market for quality services.
</p>
<p>
If all transactions carried out on the Internet go smoothly, which may involve some risks, we do not want you to worry about making transactions with HECMS.  We are so confident that HECMS is the safest and most secure way to repair, load or transport your equipment.
</p>
<h3>Terms and Conditions of Warranty:</h3>
<p>
	The following are the terms and conditions applicable to this warranty:
	When using the services of HECMS, you accept that you are subject to the following terms and conditions, as well as the general User Agreement of HECMS.  If you have any questions regarding this Agreement, please contact the support of members of HECMS.  To be eligible for the warranty of HECMS, you must be a member of HECMS that has accepted to comply with our User Agreement.  The Warranty “Services with Confidence” is only applied to a client whom has carried out transactions with a supplier of HECMS and has accepted the previous quotations to the service paying the percentage required by the company to start the service to be performed.
</p>
<p>
	All of the clients of services eligible for the “Services with Confidence” also must have signed a contract or agreement, in writing, with the supplier of services, before service is provided, or within 30 days from the date your service was booked in HECMS.  The Warranty “Load and Send with Confidence” covers certain types of frauds, but is specifically not applicable, under any circumstance:
</p>
<ul>
	
</ul>
	<li>Delays in transit times;</li>

<li>
Services that are performed without a written contract or bill of lading signed by both parties;
</li>
<li>
	Services performed by someone who is not a services provider of HECMS;
</li>
<li>
	Transactions in which shipping customers do not follow all the recommendations of out Fraud Prevention Guidelines.  This includes, but is not limited to, making payments through non-bank bank transfer, Western Union, MoneyGram or pre-paid debit cards.
 Issues or damages caused primarily by a service customer without fault of the service provider, or problems for which losses cannot be tested or quantified;
</li>
<li>
	Services that are materially different from what is described in the list of services performed by HECMS;
</li>
<li>
Excludes any non-refundable deposit made to service providers who were voluntarily lost;
Transactions in which the shipping customer does not provide accurate and truthful information to HECMS about the dispute;	
</li>


<li>
Disputes in which the customer, in his request for services, has not made a reasonable effort to resolve the problem with the service provider;
Damage due to loss of time, mental anguish, etc.		
</li>



<h3>
	Communication:	
</h3>
<p>
	HECMS has found that, in majority of cases, disputes over payment and service can be easily avoided or resolved through open and honest communication with your service provider.  HECMS will make a reasonable attempt, at the petition of a client or service provider, to contact the other party and convey the specific concerns related with a transaction or conflict of HECMS.  Because all contracts are directly between the customer requesting the service and the service provider, HECMS must remain a neutral third party.  However, we will make all reasonable attempts for both parties to have communication to resolve the problem.  (This only applies in cases of transport from one point to another or in the case of international transport where companies outside HECMS are involved, where any way of avoiding an error committed by third parties.)
</p>


<p>
Send with Confidence “Process of Sending Payment Guarantee:
Before filing a claim against the guarantee of HECMS, 
</p>

<p>
You agree to take the following steps to try to resolve the issue between you and the service provider:	
</p>
<p>
Inform the user of the problem through “customer service” found on our page;
Report the incident to the appropriate local, state or federal agency;
Submit a report with the HECMS Administration (if applicable);
Submit a report with the Complaint Center (if applicable)
If there is still no resolution, please submit all information confirming the above steps as well as copies of all related documents including, but not limited to, original signed agreements or bill of lading, evidence of payment and method of payment and any other communication between you and the service provider. 	
</p>

<h3>
	Award of Guarantee of Payments with Confidence :	
</h3>
<p>
	
In case that HECMS determines that a sender and service provider have made reasonable attempts to come to a resolution to arrive at a mutually acceptable resolution and still cannot or do not want to reach an agreement, the sender may be eligible for a collateral payment.  If all of the Terms and Conditions of this Guarantee are satisfied by the carrier, may grant to the remuneration an amount equivalent to the actual monetary losses of the shipper, with an amount that does not exceed $500 USD*.  
The sender’s losses and the cost of the resource must be determined by HECMS as reasonable.  HECMS reserves the right, in its sole discretion, to determine the form and/or method of payment of the Guarantee.

</p>
</div>
