        <form ng-submit="changePwdPut()" name="changePwdForm" novalidate> 
        <div class="row">
          <div class="col-xs-12">
<!-- <button style="margin-right: 5px;margin-top: 10px;" type="button" class="close"  >X</button> -->

          <i style="margin-right: 10px;margin-top: 10px;cursor: pointer;" class="fa fa-times pull-right" aria-hidden="true" ng-click="cancel()"></i>
          </div>
        </div>
        
        <div class="modal-header">
            <h3 class="modal-title text-center">
              <span style="padding-bottom: 20px;">Change Password</span>
            </h3>
        </div>


        <div class="modal-body">
          <div class="row" style="height: 50px">
            <div class="col-xs-12 text-center bg-success" ng-show="showSuccessMessage">
              
              <i  class="fa fa-check-circle-o fa-5x btn-success text-center" aria-hidden="true"></i><br>
              <span style="margin-top: 10px;font-size: 14px"><br>
               <b> Password Successfully Modified!</b>
              </span>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;margin-bottom: 10px">
            <div class="col-xs-12">
              <ul>
                <li>New Password must be at least 8 characters long</li>
              </ul>
              
            </div>
          </div>

          
            <div class="form-group">
              <label class="sr-only" for="id_oldPwd">Old Password</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock fa-2x"></i></div>


                <!--  PREVENT AUTO COMPLETE-->
                 <input type="text" style="display:none">
                 <input type="password" style="display:none">

                <input placeholder="Old Password" class="form-control input-lg" type="password" id="id_oldPwd" name="oldPwd" ng-model="oldPwd" required ng-change="errors = {}"> 
              </div>
                                                            <!--VALIDATION-->
              <div style="text-align: center;height:25px;font-weight: bold;">
                <div ng-messages="changePwdForm.oldPwd.$error" ng-controller="ErrormessageController" ng-if="changePwdForm.oldPwd.$touched && changePwdForm.oldPwd.$dirty" >
                    <validation-element></validation-element>
                </div> 
<!--                 <div ng-messages="serverValidation" ng-show="changePwdForm.$submitted && showServerError">
                  <b><code>[[errors.old_password]]</code></b>
                </div> -->
                <div style="height:20px;">
                  <code ng-show="errors['old_password']" ><b>[[ errors['old_password'][0] ]]</b></code> 
                </div>
              </div> 
            </div>


            <div class="form-group">
              <label class="sr-only" for="id_newPwd1">New Password</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock fa-2x"></i></div>
                 <input class="form-control input-lg" placeholder="New Password" type="password" id="id_newPwd1" name="newPwd1" ng-model="newPwd1" ng-minlength="8" required>     
              </div>
                                                            <!--VALIDATION-->
              <div style="text-align: center;height:25px;font-weight: bold;">
                <div ng-messages="changePwdForm.newPwd1.$error" ng-controller="ErrormessageController" ng-if="changePwdForm.newPwd1.$touched && changePwdForm.newPwd1.$dirty" >
                    <validation-element></validation-element>
                </div>   
              </div> 
            </div>

            <div class="form-group">
              <label class="sr-only" for="id_newPwd2">Confirm New Password</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock fa-2x"></i></div>
                  <input placeholder="Confirm Password" class="form-control input-lg" id="id_newPwd2" type="password" name="newPwd2" ng-model="newPwd2" compare-to = "newPwd1" password-match required>     
              </div>
                                                            <!--VALIDATION-->
              <div style="text-align: center;height:25px;font-weight: bold;">
                <div ng-messages="changePwdForm.newPwd2.$error" ng-controller="ErrormessageController" ng-if="changePwdForm.newPwd2.$touched && changePwdForm.newPwd2.$dirty" >
                    <validation-element></validation-element>
                </div>   
              </div> 
            </div>         
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg" type="button" ng-click="cancel()">Cancel</button>
          <input type="submit" class="btn btn-info btn-lg" ng-disabled="!changePwdForm.$valid" value="Change Password">
        </div>
       </form>

