<head>
	<style type="text/css">
		.mainDiv{
			background-color: white;
			padding:0px;
			color:black;
			width:auto;
			text-align: left;
	/*		border: 1px solid yellow;*/
		}
	</style>
</head>
<div class="mainDiv">
	<ul style="width:inherit;">
		<li>1 star : Item needs urgent changing/replacement</li>
		<li>2 star : Item is defective</li>
		<li>3 star : The item works at acceptable levels, but may need changin in the near future</li>
		<li>4 star : Item has no visible signs of wear or damage</li>
	</ul>

</div>