<head>
	<style type="text/css">
		.jumbotron{
			font-family: 'Roboto Condensed',Tahoma,Verdana,sans-serif;
			font-weight: bold;
			font-size: 30px;
			background-color: rgb(34,85,150);
			color:white;
		}
		.content{
			padding:20px;
			border-radius: 10px;
			box-shadow: 10px 10px 5px #888888;
			width:95%;
		}
	</style>
</head>
<div class="containter">


	<!-- <p class="text-center">
		<i style="margin-top: 20px;" class="fa fa-hand-o-up fa-5x " aria-hidden="true"></i>	
	</p> -->
	<div style="margin:0 auto;margin-top: 30px;" class="content">
	  <div class="jumbotron">
	    <h1 class="text-center">Our Mission</h1>
	<!--     <p>To provide full fledged auction services</p> -->
	  </div>
<!-- 	  <p>This is some text.</p>
	  <p>This is another text.</p> -->


<!-- 	<p style="padding-top: 80px;" class="text-center header" >- Our Mission -</p> -->
	<h2 style="margin-top: 30px;" class="text-center">To provide top-notch auction services</h2>
	
<!-- 	<h2 class="text-center">About</h2> -->
	<p style="margin:30px;font-size: 18px;" class="text-center">Ever thought that buying at auctions can be daunting? Well guess again. Hecms has just made your life much easier! Our staff has been in the auction business for over 30 years. We specialize in logistics-the handling of your items and relocating them to the coordinates of your choice, inspections - make sure you get your money's worth by letting our specialists vouch for the quality of the product, perform maintenance jobs- from changing filters to replacing worn or damaged parts we will get you up and running in no time!
	</p>
	</div>

	<p style="margin:20px;" class="text-center"></p>
</div>