{% extends 'base.html' %}
{% load staticfiles %}
{% block index %}
<head>	
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style type="text/css">
	footer{
    text-align: center;
    background: rgb(252,213,0)!important;
    font-size:20px;
    font-weight: bold;
}
</style>
</head>
	<title ng-bind="$state.current.data.pageTitle"></title>
	<div id="navbar" ng-include="'static/templates/userapp/partials/navbar.html'"></div>
		<div class="container">
			<ui-view class="page [[ pageClass ]]"></ui-view>
		</div>
{% endblock index %}