{% extends 'base.html' %}
{% load staticfiles %}


{% block twitter_callback %}
<head>
	<script type="text/javascript">
		var token = '{{tokenDict|safe}}';
		sessionStorage.setItem('token', JSON.stringify(token));
	</script>
</head>
<div ng-controller="TwitterRedirectController" style="padding-top:100px;">
	<h2 class="text-center">Please wait while we redirect you...</h2>
	<div class="text-center"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
<!-- 	<img id="inicioLogo" ng-src="static/img/logos/navbarlogo.svg" style="width:200px;max-height:80px;float:left;margin-top:-30px;padding-top:-30px;" class="img-responsive" alt="No hay logo"> -->
	<!-- your token is {{tokenDict}} -->
</div>

{% endblock twitter_callback %}