<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		<h1>Shipping</h1>
		<form name="logisticsForm" ng-submit="" novalidate>
			<lot-number></lot-number>
			<div class="form-group">
				<label for="id_description" class="sr-only"></label>
				<textarea class="form-control" id="id_description" name="description" ng-model="description" placeholder="How would you like to organize your Lot?"></textarea>	
			</div>
			<span class="bg-danger"><b>Note:</b>All arrangements according to law.....</span>
			<input style="margin-top:10px;" type="submit" class="btn btn-block btn-success" name="submitLogistics" value="Request Logistics Service">
		</form>
	</div>
</div>
