<div>
  <div class="row" style="border-bottom: 1px solid gray;">
    <div class="col-xs-1"><i class= "fa fa-star" style="color:rgb(226,39,55);"></i></span></div>
    <div class="col-xs-1" style="color:rgb(243,242,241);"><i class= "fa fa-star"></i></span></div>
    <div class="col-xs-1" style="color:rgb(243,242,241);"><i class= "fa fa-star"></i></span></div>
    <div class="col-xs-1" style="color:rgb(243,242,241);"><i class= "fa fa-star"></i></span></div>
  </div>

    <div class="row" style="border-bottom: 1px solid gray;">
    <div class="col-xs-1"><i class= "fa fa-star" style="color:rgb(251,149,0);"></i></span></div>
    <div class="col-xs-1"><i class= "fa fa-star" style="color:rgb(251,149,0);"></i></span></div>
    <div class="col-xs-1" style="color:rgb(243,242,241);"><i class= "fa fa-star"></i></span></div>
    <div class="col-xs-1" style="color:rgb(243,242,241);"><i class= "fa fa-star"></i></span></div>

  </div>
<!--     <table>
      <tr>
        <td style="color:red" class="form-inline">
          <span><i class= "fa fa-star"></i></span>
          <span><i class= "fa fa-star" style="color:rgb(243,242,241);"></i></span>
          <span><i class= "fa fa-star" style="color:rgb(243,242,241);"></i></span>
          <span><i class= "fa fa-star" style="color:rgb(243,242,241);"></i></span>
          
        </td>
        <td>Limited use or recently replaced. Free of visible wear or defects.</td>
      </tr>
      <tr>
        <td></td>
        <td>Performs within the tolerances expected for age and type of item.</td>
      </tr>
      <tr>
        <td></td>
        <td>Although performing, shows signs of needing repair or replacement.</td>
      </tr>
      <tr>
        <td></td>
        <td>Needs immediate change/replacement. Requires work if it is to perform as expected</td>
      </tr>
    </table> -->
</div>